body {
    font-family: Arial, sans-serif;
    background-color: #ffd500;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 28px;
    font-weight: bold;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.row {
    display: flex;
}

.cell {
    flex: 1;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}

.header {
    background: black;
    color: white;
    font-weight: bold;
}

.week {
    background: lightgray;
    font-weight: bold;
}

.total {
    background: #f4f4f4;
    font-weight: bold;
}

.total-sum {
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
}

.info {
    font-size: 14px;
    margin-top: 10px;
}

#timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#timer {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}

#circle-container {
    display: flex;
    width: 200px; /* Adjust as needed */
    justify-content: space-between;
}

.circle {
    width: 8px; /* Adjust as needed */
    height: 8px; /* Adjust as needed */
    background-color: black;
    border-radius: 50%;
}

.circle.active {
    background-color: red; /* Highlight active circles */
}
