body {
  font-family: Arial, sans-serif;
  background-color: #ffd500;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 25px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.cover {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
  margin-bottom: 5px;
}

h1 {
  color: #ffd500;
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.row {
  display: flex;
}

.cell {
  flex: 0 0 auto; /* Don't grow, don't shrink, auto width */
  width: 12.5%; /* 1/8 of the row for 8 columns */
  padding: 10px;
  font-size: 15px;
  text-align: center;
  border: 1px solid black;
  box-sizing: border-box; /* Include padding and border in width */
}

.header {
  background: black;
  color: white;
  font-weight: bold;
}

.week {
  background: lightgray;
  font-weight: bold;
}

.total {
  background: #f4f4f4;
  font-weight: bold;
}

#total-sum {
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
}

.info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 0px;
  font-size: 14px;
}
#reset-progress {
  display: flex;
  position: relative;
  margin-left: auto;
  right: 0;
  padding: 5px 5px;
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 5px;
  color: rgb(0, 0, 0);
  background: linear-gradient(135deg, #ffd500, #c0a000);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}
#start-timer {
  display: inline-block;
  padding: 20px 30px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  background: linear-gradient(135deg, #5fff9c, #47fa6e);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

#restart-timer {
  display: inline-block;
  padding: 20px 20px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  background: linear-gradient(135deg, #e4081a, #79040e);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

#timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#timer {
  font-size: 4em;
  font-weight: bold;
  margin-bottom: 10px;
}

#circle-container {
  display: flex;
  width: 500px;
  justify-content: space-between;
}

.circle {
  width: 25px;
  height: 25px;
  background-image: url("src/kettlebell.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.circle.active {
  background-image: url("src/kettlebellactive.png");
}

footer {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  padding: 10px 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

footer p {
  margin: 0;
}

footer a {
  color: black;
  text-decoration: none;
  vertical-align: middle;
  margin: 0 150px 0 110px;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 95%; /* Take up more of the screen width on smaller devices */
    margin: 15px auto;
    padding: 15px;
  }

  h1 {
    font-size: 15px;
    top: 5%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }

  .cell {
    font-size: 13px;
    padding: 8px;
  }

  .row .cell:first-child,
  .week {
    font-size: 10px;
    padding: 6px;
    word-break: break-word;
    white-space: normal;
    line-height: 1.2;
  }

  .info {
    flex-direction: column;
    align-items: center;
    font-size: 13px;
  }

  #reset-progress {
    padding: 4px 8px;
    font-size: 10px;
  }
  #start-timer,
  #restart-timer {
    padding: 10px 15px;
    font-size: 14px;
  }

  #timer {
    font-size: 4em;
  }

  #circle-container {
    width: 95%;
    max-width: 100%;
    justify-content: space-around;
  }

  footer {
    flex-direction: column;
    padding: 10px;
    text-align: center;
  }

  footer a {
    margin: 10px 0;
  }
}
